{% extends 'polls/navigation.html' %}

{% block content %}
<div class="main2" style="border: 1px solid #237523; background: lime; position:absolute; top: 20%; left: 36%; width: 400px">
    <h1 align="center" style="color: black">Polls and blogs</h1></div>
<div style="position:absolute; top: 35%; left: 39.5%">
    <p align="center"><a align="center" href="/polls" class="btn btn-dark btn-lg"
                         style="height: 50px; width: 300px">Polls</a>
        <p><a href="/blogs" class="btn btn-danger btn-lg" style="height: 50px; width: 300px">Blogs</a></p></p>
</div>

{% endblock %}